.content{
    margin-top: -20px;
    margin-left: 30px;
    display: flex;
}
h2{
    margin-left: 10px;
}
i{
    margin-top: 20px;
}
.form{
    margin-top: 15px;
    margin-left: 30px;
}
label{
    display: flex;
}
label span{
    width: 165px;
    font-size: 17px;
    font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
}
input{
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 33px;
    margin-top: -3px;
}
select{
    border: 2px solid black;
    border-radius: 5px;
    height: 33px;
    margin-top: -3px;
    
}
.update-btn{
    width: 120px;
    height: 45px;
    border: 0;
    background-color: #4fbfa8;
    color: white;
    margin-bottom: 30px;
}
textarea{
    border: 2px solid black;
}
